/*selector universal*/
*{
    margin: 0;
    padding: 0;
}
/*selector de etiqueta*/
body{
    background-color: antiquewhite;
    color: white;
}
/*selector id*/
#contenedor{
    width: 800px;
    height: 2000px;
    background-color: rgba(73, 78, 83, 0.808);
    margin: 5px;
    padding: 20px;
}
#emcabezado{
    width: 70%;
    background-color: rgba(199, 203, 207, 0.459);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}
#menu{
    height: 55px;
    background-color: rgba(199, 203, 207, 0.459);
    margin: 1em;
    border-radius: 5px;
 }
 /*selector de etiqueta para el menu*/
ul{
    text-align: center;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
img:hover{
    width: 50%;
}
li a:hover{
    color: crimson;
    text-decoration: none;
    font-size: 25px;
    list-style: none;
}
/*selector de clase*/
*img{
    width: 50%;
    border-radius: 30px;
    justify-items: center;
}
.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #000;
 }