*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/*slector de etiqueta*/
body{

  background-color: antiquewhite;
  color: white;
}
/*selector de id*/
#contenedor{
  width: 95%;
  height: 100%;
  background-color: rgba(48, 113, 177, 0.808);
  margin: 10px;
  padding: 20px;
}
#emcabezado{
  width: 70%;
  background-color: rgba(199, 203, 207, 0.459);
  margin: 1em;
  border-radius: 5px;
  text-align: center;
}
#meno{
  height: 40px;
  background-color: rgba(199, 203, 207, 0.459);
  margin: 1em;
  border-radius: 5px;
}
/*selector de etiqueta para el menu*/
ul{
  text-align: center;
  padding: 10px;
}

li{
  display: inline;
  padding: 10px 30px;
  margin: 3em;
}
li a:hover{
  color: crimson;
  text-decoration: none;
  font-size: 150%;
  list-style: none;
}
/*selector de clase*/
.img{
  width: 100%;
  border-radius: 30px;
  justify-items: center;
}
.texto{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #000;
}
#pie{
  height: 60px ;
  background-color: rgb(0, 0, 0) ;
  margin: 1.5em;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
#pie h4{
  padding: 10px;
  font-size: 30px;
  background-color: rgba(240, 255, 255, 0.233);
}
/*card*/
.card{
  box-shadow: 0 4px 8px black;
  overflow: hidden;
  max-width: 250px;
  margin: auto;
  text-align: center;
  border: 2px solid;
  border-radius: 10px;

}
.card:hover{
  max-width: 200px;
  text-align: center;

}
.protest-guerrilla-regular {
  font-family: "Protest Guerrilla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
  "MORF" 15,
  "SHLN" 50;
}


.card img{
  background-color: white;
}
.title{
  color: rgb(224, 201, 201);
  font-size: 18px;
}
button{  
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  }
#secArticulos{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;

}
#item{
  background-color: (110,110,110);
  text-align: center;
  width: auto;
  height: auto;
}
#item:hover{

  background-color: (197,197,0.777);
}
.container{
  max-width: 8000px;
  height: 150px;
  margin: 0 auto;
}
.fondo{
   padding: 40px 0;
   background-color:  rgba(82, 87, 87, 0.322);
}
.fondo{
 padding: 47px 0;
}
.menu{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
}
.logo{
  font-size: 20px;
  color: rgb(33, 36, 35);
  font-weight: 800;
  text-transform: uppercase;
  align-content: center;
}
.menu .navbar ul li{
  position: relative;
  float: left;
}
.menu .navbar ul li a{
   font-size: 18px;
   padding: 20px;
   color: azure;
   display: block;
}
.menu .navbar ul li a:hover{
  color: rgb(192, 2, 2);
}
#menu{
  display: none;
}
.menu-icono{
  width: 30px;

}
.menu label{
  cursor: pointer;
  display: none;
}
#menu:checked ~ .navbar{
  display: initial;
}
@media (max-width:991px) {
  .menu{
      padding: 30px;
  }
  .menu label{
      display: initial;
  }

  .menu .navbar{
      position: absolute;
      top: 100%;
      left: 0%;
      right: 0%;
      background-color: #14707c;
      display: none;
  }

  .menu .navbar ul li {
      width: 100%;
  }
  #menu:checked ~ .navbar{
      display: initial;
  }
}